streamlit
PyPDF2
langchain
langchain-google-genai
google-generativeai
python-dotenv
gTTS
pytesseract
pillow
python-pptx
opencv-python-headless
ffmpeg-python
deskew
speechrecognition
pyttsx3
passlib
python-jose
python-multipart
numpy
scikit-image
matplotlib
faiss-cpu
