streamlit
PyPDF2
langchain==0.0.350
langchain-google-genai
google-generativeai
python-dotenv
gTTS>=2.3.0
pytesseract
pillow
python-pptx
opencv-python-headless
ffmpeg-python
deskew
speechrecognition
pyttsx3
passlib
python-jose
python-multipart
numpy
scikit-image
matplotlib
faiss-cpu
